.single-order-wrapper {
  border: 1px solid #fed700;
  flex-direction: column;
  margin: 10px;
  border-radius: 10px;
  display: flex;
}

.orders-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.orders-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.single-order {
  margin: 10px;
  padding: 10px;
  font-family: "Poppins";
  font-size: 20px;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.single-order button {
  border: none;
  padding: 10px;
  background: none;
  color: #fc077b;
  width: 100px;
  font-size: 1rem;
  font-family: "Raleway";
}

.single-order img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}

.order-id-date {
  margin-left: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.order-id-date span:nth-child(2) {
  font-size: 13px;
  margin-top: 10px;
}

.order-info span {
  font-family: "Poppins";
  font-weight: 500;
  margin-left: 50px;
}

.orders-table {
  color: white;
  margin-bottom: 20px;
  border-top: 1px solid #fed700;
}

.orders-titles {
  line-height: 30px;
  color: #fc077b;
}
.orders-titles th {
  width: 33%;
}

.orders-td {
  width: 33%;
  padding: 0px 10px;
  text-align: center;
  line-height: 25px;
}
.orders-td:nth-child(2),
.orders-td:nth-child(3) {
  border-left: 1px solid #fed700;
}
@media only screen and (max-width: 800px) {
  .single-order {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    width: 50vw;
  }
  .order-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .order-info span {
    margin: 5px;
  }
  .orders-titles {
    line-height: 20px;
  }
  .orders-td:nth-child(1) {
    padding-top: 10px;
  }
}
