.single-order-wrapper {
  border: 1px solid #fed700;
  flex-direction: column;
  margin: 10px;
  border-radius: 10px;
  display: flex;
}

.orders-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.orders-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.single-order {
  margin: 10px;
  padding: 10px;
  font-family: "Poppins";
  font-size: 20px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.single-order img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}

.order-id-date {
  margin-left: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.order-id-date span:nth-child(2) {
  font-size: 13px;
  margin-top: 10px;
}

.order-info span {
  font-family: "Poppins";
  font-weight: 500;
  margin-left: 50px;
}

.orders-table {
  color: white;
  margin-bottom: 20px;
  text-align: center;
  border-top: 1px solid #fed700;
}

.orders-titles {
  line-height: 30px;
  color: #fc077b;
}

.orders-td {
  line-height: 25px;
}
