button {
  outline: none !important;
}
.card_list {
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  transition: 0.5s;
  margin: 20px;
  border-radius: 15px;
  background: white;
  flex-direction: row;
  display: flex;
  width: 500px;
  height: 260px;
  background: #242526;
  border-radius: 10px 10px;
}
.card:hover {
  transition: 1s;
  background: #2c2e30;
  width: 550px;
}
.card_left {
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.card_buttons {
  margin-bottom: 20px;
  margin-top: 10px;
}
.card_left button {
  border: none;
  background: #6a6c6f;
  font-family: "Raleway";
  font-weight: 500;
  color: white;
  padding: 10px;
  font-size: 17px;
  border-radius: 5px;
  transition: 0.6s;
  cursor: pointer;
}
.card_left button:hover {
  transition: 0.5s;
  background: #ec4176;
  color: #fed700;
}

.card_left img {
  width: 300px;
  padding: 10px;
  height: 180px;
  border-radius: 15px;
  object-fit: cover;
}
.card_right {
  border-radius: 15px;
  padding-top: 13px;
  padding-bottom: 30px;
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
}
.card_category_name {
  font-family: "Poppins";
  font-size: 15px;
  color: #ec4176;
}
.card_right h2 {
  font-family: "Poppins";
  font-size: 28px;
  color: white;
  transition: 0.7s;
}
.card_right h2:hover {
  transition: 0.7s;
  color: #fed700;
}
.card_right span {
  font-family: "Poppins";
  font-size: 26px;
  color: #ec4176;
}
.card_description {
  font-family: "Poppins";
  font-size: 17px;
  overflow: hidden;
  display: -webkit-box;
  max-width: 300px;
  -webkit-line-clamp: 7;
  padding: 0px 30px 0px 0px;
  -webkit-box-orient: vertical;
  height: auto;
  color: white;
  transition: 1s;
}
.card_description:hover {
  transition: 1s;
  color: #fed700;
}

@media only screen and (max-width: 900px) {
  .card_wrapper {
    display: flex;
    justify-content: center;
  }
  .header_title {
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  form {
    display: none;
  }
  .card_list {
    margin-top: 40px;
    overflow: scroll;
  }
  .card {
    overflow: scroll;
    margin: 0;
    margin-bottom: 10px;
  }
  .card_buttons {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (max-width: 530px) {
  .card_list {
    overflow: visible;
  }
  .card {
    width: 350px;
    justify-content: center;
    height: 420px;
    flex-wrap: wrap;
    overflow: visible;
  }
  .card:hover {
    transition: 1s;
    background: #2c2e30;
    width: 350px;
  }
  .card_right {
    height: 155px;
    padding: 0px 25px;
    align-items: center;
    text-align: center;
  }
  .card_description {
    padding: 0;
    display: -webkit-box;
    max-width: 300px;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
@media only screen and (max-width: 400px) {
  .card {
    width: 300px;
    justify-content: center;
    height: 380px;
    flex-wrap: wrap;
    overflow: visible;
  }
  .card img {
    width: 260px;
    height: 150px;
  }
  .card:hover {
    transition: 1s;
    background: #2c2e30;
    width: 350px;
  }
  .card_right {
    height: 155px;
    padding: 0px 25px;
    align-items: center;
    text-align: center;
  }
}
